# I recommend running setup.py directly instead of doing the regular requirements install
# Check the comments on setup.py for more details on that

customtkinter
matplotlib
pandas
numpy

# llama-cpp-python is installed via setup.py to ensure compatibility